---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>PLIX</title>
    <meta
      name="description"
      content="PLIX - Your one-stop shop for all things hair care"
    />
    <!-- GoKwik Checkout Script -->
    <script
      is:inline
      defer
      src="https://sandbox.pdp.gokwik.co/v4/build/gokwik.js"></script>
  </head>
  <body class="w-full mx-auto">
    <main class="max-w-3xl mx-auto">
      <slot />
    </main>
  </body>
</html>